body
    margin: 0
    width: 100%

    header
        background-color: #080808b6
        color: white
        padding: 10px
        display: flex
        text-transform: uppercase

        a
            background-color: blue
            border: black solid 1px
            padding: 20px
    
                .liens 
                    display: flex
                    flex: 2

                       ul
                        display: flex
                        align-items: flex-end

                            li 
                                color: white
                                text-transform: uppercase
                                font-size: small
                                align-items: flex-end
                                justify-content: flex-end
                                text-decoration: none
                                list-style: none

                                img
                                    width: 100%
                                    height: 10vh

                                    p
                                        background-color: #dbd7d7
                                        border: black solid 1px
                                        color: grey
                                        font-size: larger
                                        font-weight: bold
                                        margin: 0
                                        padding: 0
                                        width: 100%
                                        height: 25vh
                                        display: flex
                                        justify-content: center
    
                        


                        